* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
    outline: 1px solid red;
}
.header {
  background: #222222;
  position: relative;
  color: white;
}
.header-main {
    padding: 10px;
    
    justify-content: right;
    display: flex;
}
.cart-button {
    width: 100px;
  height: 50px;
  border: 1px solid #838282;
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 30px;
    }

    .cart-button:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: #F16D7F;
    }
    .cart-button:active {
        transform: scale(0.9);
    }

    .head-search {
        background-color: transparent;
        border-color: transparent;
        border: none;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        margin-left: 10px;
      }
      
      .head-search:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
            transform: scale(1.2);
      }
      
      .head-search:active {
        -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
            transform: scale(0.9);
      }
      
      .search-svg {
        fill: #e8e8e8;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }
      
      .head-search:hover .search-svg {
        fill: #F16D7F;
        -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
            transform: scale(1.2);
      }

      .searchInput {
          margin-left: 100px;

      }

      .basketRow {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 10px;
    }
    .basketHeader {
        font-weight: bold;
    }
    .basketTotal {
        font-weight: bold;
        text-align: right;
    }
    .basket {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 72px;
        background: white;
        padding: 10px;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        font-size: 14px;
    }
    .hidden {
        display: none;
    }

.main {
    background-color: #FFFFFF;
    padding: 10px;
}
.goods-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
    .goods-item {
        background: #F8F8F8;
        text-align: left;
        display: flex;
        flex-direction: column;
        width: 360px;
        height: 586px;
        margin-top: 30px;
        position: relative;
    }
        .feature-item-h3 {
            font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        /* identical to box height */
        color: #000000;
        margin-top: 25px;
        margin-left: 17px;
        }
        .feature-item-p1 {
            font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-left: 17px;
        margin-top: 13px;
        }
        .feature-item-p2 {
            font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #35161ac4;
        margin-left: 17px;
        margin-top: 18px;
        }
        .product-overlay {
            transform: scale(0);
            background-color: #3a383886;
            left: 0;
            top: 0;
            width: 100%;
            height: 420px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            transition: 0.7s;
        }
            .goods-item:hover .product-overlay {
                transform: scale(1);
            }
.overlay {
    width: 139px;
    height: 44px;
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
border: 1px solid white;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;
}
    .overlay:hover {
        cursor: pointer;
        background-color: #f263769f;
    }
    .overlay:active {
        transform: scale(0.9);
    }
    .overlay:hover .overlay-svg{
        fill: white;
    }
    .overlay-svg {
            fill: white;
            margin-right: 10px;
            transition: 0.3s;
    }
    .cart-input {
        width: 360px;
        height: 45px;
        border: 1px solid #B1B1B1;
        padding: 20px;
        margin-left: 200px;
      }
      
      .cart-input:hover {
        background-color: #e4e4e4;
      }
      
      .cart-input:focus {
        border: 1px solid #000000;
        outline: none;
        padding: 20px;
      }
      
      .cart-input::-webkit-input-placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding: 10px;
      }
      
      .cart-input:-ms-input-placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding: 10px;
      }
      
      .cart-input::-ms-input-placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding: 10px;
      }
      
      .cart-input::-moz-placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding: 10px;
      }
      
      .cart-input::placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding: 10px;
      }
